* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #b4b7b7;
}

.activeTexto {
  color: #fff;
}

h3 {
  color: #df991b;
  font-size: 40px;
}

#empresa {
  font-size: 40px;
  color: #b4b7b7;
}

h1 {
  font-size: 80px;
}

h2 {
  color: #000;
}

h5 {
  color: black;
  font-size: 40px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #b4b7b7;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.item {
  margin: 5px 5px;
}

section {
  margin: 10% 0;
}

.botonSection {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 20px;
  padding: 6px 32px;
  width: fit-content;
  color: white;
  font-size: 20px;
  margin: 49px 0;
  justify-content: end;
}

/* encabezado */
header nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff80;
  background: rgba(255, 255, 255, 0.5);
}

.navLinks {
  display: flex;
  gap: 64px;
  margin-right: 30px;
}

.menu,
.idioma {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* logo */
header nav img {
  height: 20px;
  object-fit: cover;
  width: auto;
}

/* hamburguesa */
.idioma img {
  width: 30px;
}

/* divisiones entre links del encabezado */
.barra {
  width: 1px;
  background-color: white;
  height: 16px;
}

.larga {
  height: 32px;
}

/* portada */
#main {
  width: 100%;
  height: 130vh;
  background-image: url("/Terminal/IMG/portada.png");
  background-position: center;
  background-size: cover;
  object-position: top -300px right 0;
  overflow-x: hidden;

  fill: linear-gradient(270deg, #000 -37.96%, #7e7e7e 62.04%);
  stroke-width: 1px;
  stroke: #000;
  mix-blend-mode: overlay;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#main input {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 20px;
  padding: 16px 42px;
  width: 100%;
  height: 100%;
  color: orange;
  justify-content: end;
  font-size: 20px;
}

.potadaMarca {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-content: end;
}

/* input de la portada donde está la lupa */
.padreLupa {
  position: relative;
  width: fit-content;
  justify-content: end;
}

/* ícono de lupa */
.lupa {
  position: absolute;
  right: 30px;
  top: 40%;
  transform: translate(0, -50%);
}

#propertiesSale img,
#propertiesRent img {
  width: 407px;
  height: 550px;
}

#propertiesSale .padre {
  position: relative;
}

#propertiesSale .padre .leyenda {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 9.5%;
  text-align: center;
}

#propertiesSale .padre .leyenda:hover {
  background-color: white;
}

#propertiesDevelopments img {
  width: 407px;
  height: 407px;
}

#propertiesDevelopments {
  text-align: center;
}

#services img {
  width: 407px;
  height: 407px;
}

.subscribe {
  background-color: #26282b;
  color: #fff;
  font-size: 32px;
  transform: translate(0, -50%);
  display: flex;
  gap: 16px;
  padding: 16px 50px;
}

.nameForm {
  background-color: transparent;
  color: #fff;
  border-color: transparent;
  padding: 6px 16px;
  border-radius: 20px;
  width: 100%;
  font-size: 20px;
}

#emailForm {
  background-color: transparent;
  border: solid 2px grey;
  border-radius: 20px;
  padding: 6px 16px;
  width: 100%;
}

footer #botonForm {
  background-color: transparent;
  border: solid 2px orange;
  border-radius: 20px;
  padding: 6px 32px;
  width: fit-content;
  color: orange;
  justify-content: end;
}

#relleno {
  width: 380px;
  height: 670px;
  z-index: -1;
  background-color: #26282b;
  position: relative;
  left: 2%;
}

#imagenContenedor {
  position: absolute;
  top: 20%;
  left: 20%;
}

footer {
  background-color: #000;
  position: relative;
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

footer img {
  height: 20px;
  object-fit: cover;
  width: auto;
}

.footer-bar {
  width: 100%;
  height: 3px;
  background-color: white;
}

#copyright {
  text-align: center;
  margin-bottom: 16px;
}
